<style>
.template-style{
  background-color: #ffffff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fade{
    opacity: 0;
    -webkit-transition: opacity 0.50s linear;
    -o-transition: opacity 0.50s linear;
    transition: opacity 0.50s linear;
}

.fade.in{
    opacity: 1;
}

.wrapper{
  z-index: 1000;
  position: absolute;
  width:100%;
}

.close-button{
    font-sixe: .8em; 
    color:#cecece; 
    float:right;cursor: 
    pointer; 
    margin:5px 10px 5px; 5px;
}

</style>

<div class="wrapper">
  <div *ngIf="isCollapsed" class="template-style" (click)="isCollapsed = false">
   <template  [ngTemplateOutlet]="unCollapsed">
  </template>
  </div>
  <div *ngIf="!isCollapsed" class="template-style" >
  <span (click)="isCollapsed = true" class="close-button">x</span>
  <template  [ngTemplateOutlet]="collapsed">
  </template>
  </div>
 </div>