<style>
.my-fab{
	width: 64px;
	height: 64px;
	border-radius: 50%;
	font-size: 1.2em;
	text-align: center;
	vertical-align: center;
	margin:16px;
	border:none;
	z-index:100;
	  -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
       -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
            box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

	.bg-blue{
		background-color:#449fe3;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;    
	}
	.bg-grey{
		background-color:#465a59;
  -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;    
	}
	.bg-orange{
		background-color:#fb600b;
  -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;    
	}
	.text-white{
		color:#ffffff;
	}
	.text-blue1{
		color:#0a1a72;;
	}
	.text-grey{
		color:#a1a1a2;
	}
	.text-red-dark{
		color:#720909;
	}

</style>

<div class="container">
  <h1>Play <small> with angular
        Post Search</small>
      <input #searchBox id="search-box" (keyup)="search(searchBox.value)" /></h1>
      <div>
      results
        <div *ngFor="let post of posts | async">
          {{post.title}}
        </div>
  </div>
<div class="row">
  <div *ngIf="actionHit==0" class="jumbotron bg-blue">
  <div class="container text-left">
  	<h1><span class="text-blue1 strong">L</span><span class="text-white">eft</span></h1>
  	<p class="text-white">
  	This is a left alighned text.
  	This is a left alighned text.
  	This is a left alighned text.
  	</p>
  </div>
  </div>
  <div *ngIf="actionHit==1"  class="jumbotron bg-grey">
   <div class="container text-center">
  	<h1><span class="text-grey">C</span><span class="text-white">enter</span></h1>
  	<p class="text-white">
  	This is a center alighned text.
  	This is a center alighned text.
  	This is a center alighned text.
  	</p>
  </div>
  </div>
  <div *ngIf="actionHit==2" class="jumbotron bg-orange">
   <div class="container text-right">
  	<h1><span class="text-red-dark">R</span><span class="text-white">ight</span></h1>
  	<p class="text-white">
  	This is a right alighned text.
  	This is a right alighned text.
  	This is a right alighned text.
  	</p>
  	</div>
  </div>
 
  <multi-state-button-group (state)="multiStateAction($event)" class="pull-right" style="margin-top:-74px; margin-right:30px;">
  	<button #button class="btn btn-primary my-fab"><span class="glyphicon glyphicon-align-left"></span></button>
  	<button #button class="btn btn-info my-fab"><span class="glyphicon glyphicon-align-center"></span></button>
  	<button #button class="btn btn-danger my-fab"><span class="glyphicon glyphicon-align-right"></span></button>
  </multi-state-button-group>


  </div>
    </div>
